body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: fixed;
  /* background-color: rgb(238, 98, 33); */
  background-image: url("bg3.png");
  background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(0, 12, 119);
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}
.active {
  background-color: gray;
  color: white;
}
li a:hover {
  background-color: aquamarine;

}


.userid {
  color: rgb(142, 247, 142);
}

.onlineuser {
  color: rgb(255, 255, 255);
}

button {
  font-size: larger;
  color: brown;
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid;
  cursor: pointer;
  display: block;
  margin-top: 10px;
}

#local-video {
  background-color: aquamarine;
  position: absolute;
  border: 1px solid rgb(142, 247, 142);
  height: 188px;
  width: 250px;
  top: 104px;
  right: 20px;
}

#remote-video {
  background-color: aquamarine;
  position: absolute;
  border: 1px solid rgb(142, 247, 142);
  height: 340px;
  width: 450px;
  top: 104px;
  right: 300px;
}

#status {
  position: absolute;
  bottom: 30px;
  font-size: 20px;
  left: 30px;
}

#local-note {
  border: 1px solid white;
  /* border-radius: 10px; */
  background-color: black;
  position: absolute;
  width: 250px;
  top: 272px;
  right: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 5px 2px rgb(0, 12, 119), 2px 4px rgb(0, 12, 119), 3px 5px rgb(0, 12, 119);
}

#remote-note {
  border: 1px solid white;
  position: absolute;
  top: 425px;
  right: 300px;
  width: 450px;
  color: rgb(255, 255, 255);
  background-color: black;
  text-align: center;
  text-shadow: 5px 2px rgb(0, 12, 119), 2px 4px rgb(0, 12, 119), 3px 5px rgb(0, 12, 119);
}

/* For animated text */
.word {
  margin: auto;
  color: white;
  font: 600 normal 2.0em 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}
